AnchorPane{
    -fx-background-color: #bdbdbd;
}

.button {
    -fx-background-color: #728efc;
    -fx-border-color: black;
}

Text {
    -fx-font: 20 arial;
    -fx-fill: indigo;
}

#result {
    -fx-font-style: italic;
    -fx-font-weight: Bold;
    -fx-font-size: 11.0;
    -fx-text-fill: #ef0667;
}

.table-view {
    -fx-border-color: #0612ef;
    -fx-font: 18 courier;
}

.cell {
    -fx-text-fill: #03125e;
}


